.janken_body {
    text-align:center;
}



.main_title {
    font-size: 38px;
    padding: 20px;
    font-weight: bold;
}



/* 背景 */
.wrapper { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  z-index: -1;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  


.rule {
    padding: 10px;
    font-size: 20px;
}

.timewin {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.time {
    font-size: 30px;
    margin-right: 110px;

}

.win {
    font-size: 30px;
    margin-left: 100px;
}

.countbox {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#timer {
    font-size: 40px;
    border: black 5px double;
    font-weight: bold;
    width: 200px;
    height: 80px;
    margin-right: 33px;
}

#winCount {
    font-size: 40px;
    border: black 5px double;
    font-weight: bold;
    width: 200px;
    height: 80px;
    margin-left: 33px;
}

#Rejan2 {
    font-size: 30px;
    margin-top: 40px;
}

#jankenpon {
    width: 500px;
}

.myhand {
    margin:10px;
}

.rock_btn {
    width: 400px;
}

.scissors_btn {
    width: 400px;
}

.paper_btn {
    width: 400px;
}

.reset_btn {
    margin:10px;
    text-align: center;
}

.reset {
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffd61a;
    border-color: #fff;
    color: #fff;
}

table th, table td {
    width: 200px;
    text-align: center;
}

td {
    border: 1px solid #000;
}